body {
  background-color: rgb(86, 87, 87);
}

.Ambitions {
  color: blueviolet;
  text-align: center;
}

.Description {
  color: blue;
  font-size: medium;
  font-weight: 300;
  text-align: center;
}

#name {
  color: rgb(255, 0, 242);
  text-align: center;
}

.card {
  width: 500px;
  margin: 0 auto;
  border: 1px solid #b33b3b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
    color: lawngreen;
    background-color: chocolate;
    border-color: brown;
  width: fit-content;
}

button:hover {
  background-color: gray;
}
